name: CI - Tests & Docker Build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.9'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Install project in editable mode   # ← ÉTAPE CRITIQUE !
      run: pip install -e .

    - name: Run tests with pytest
      run: pytest tests/ -v

    build:
    needs: test
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Build Docker image
      uses: docker/build-push-action@v6
      with:
        context: ./docker               # dossier contenant le Dockerfile
        file: ./docker/Dockerfile       # chemin exact du fichier
        tags: spam-detection:latest
        push: false                     # change à true quand tu veux push sur DockerHub/ECR